$espacio-estandar: 10px;

//colores para el tamaño small
$background-color1-xs: rgb(110, 54, 54);
$background-color2-xs: rgb(123, 226, 109);
$background-color3-xs: rgb(120, 127, 233);

//colores para el tamaño medium
$background-color1-md: rgb(231, 95, 95);
$background-color2-md: rgb(106, 238, 255);
$background-color3-md: rgb(132, 240, 110);

$largo:25px;