//variables definidas para los estilos de la etiqueta h1 
$color-primario: rgb(12, 12, 43);
$color-texto: rgb(246, 252, 246);
$espaciado-estandar: 10px;
$espaciado-doble: 20px;
$fuente-normal: 1em;
$fuente-pequena: 0.8em;
$fuente-grande: 1.4em;
$tipografia-general: arial, verdana, sans-serif;
$tipografia-alternativa: 'Times New Roman', Times, serif;

//variables para definir el color de los objetos en tamaño small
$background-color1-xs: rgb(90, 16, 16);
$background-color2-xs: rgb(27, 92, 19);
$background-color3-xs: rgb(11, 20, 156);
$background-color4-xs: rgb(129, 29, 129);

//variables para definir el color de los objetos en tamaño medium
$background-color1-md: rgb(156, 149, 53);
$background-color2-md: rgb(106, 171, 255);
$background-color3-md: rgb(240, 110, 110);
$background-color4-md: rgb(80, 74, 161);

$largo: 50px;