// Custom.scss
// Option A: Include all of Bootstrap

// Include any default variable overrides here (though functions won't be available)

//@import "../node_modules/bootstrap/scss/bootstrap";

@import "../libs/scss/bootstrap";

// Then add additional custom code here
@import "otros/variables";
@import "otros/mixins";


//Include usado para definir los estilos de cada objeto en tamaño small
@include media-breakpoint-up (xs) {
    #objeto1{
        @include contenido-largo(3);
        background-color: $background-color1-xs;
    }
    #objeto2{
        @include contenido-largo(3);
        background-color: $background-color2-xs;
    }

    #objeto3{
        @include contenido-largo(3);
        background-color: $background-color3-xs;
    }

    #objeto4{
        @include contenido-largo(3);
        background-color: $background-color4-xs;
    }
    
    footer{
        @include contenido-largo(3);
        background-color: $background-footer-xs;
    }
}

//include usado para definir los estilos de cada objeto en tamaño medium
@include media-breakpoint-up (md) {
    #objeto1{
        @include contenido-largo(3);
        background-color: $background-color1-md;
    }
    #objeto2{
        @include contenido-largo(3);
        background-color: $background-color2-md;
    }

    #objeto3{
        @include contenido-largo(3);
        background-color: $background-color3-md;
    }

    #objeto4{
        @include contenido-largo(3);
        background-color: $background-color4-md;
    }

    footer{
        @include contenido-largo(3);
        background-color: $background-footer-md;
    }
}