//Variables para definir los colores de cada objeto en tamaño small
$background-color01-xs:red;
$background-color02-xs:gray;
$background-color1-xs: rgb(90, 16, 16);
$background-color2-xs: rgb(129, 29, 129);
$background-color3-xs: rgb(177, 72, 72);

//variables para definir los colores de cada objeto en tamaño medium 
$background-color01-md:red;
$background-color02-md:gray;
$background-color1-md: rgb(156, 149, 53);
$background-color2-md: rgb(106, 171, 255);
$background-color3-md: rgb(80, 74, 161);
$background-color4-md: rgb(105, 214, 209);

$largo: 50px;