//variable para el fondo de la página
$fondo: burlywood;

//Variables para la barra de navegación
$color-text:black;
$width-nav:80%;
$margin: auto;
$estilos: none;
//color animación nav
$linea-nav:rgb(255, 136, 1);

//Varibales para los tamaños de la página
$ancho100: 100%;
$ancho500: 500px;
$img270: 270px;
$height: auto;

//variable para la alineación de los objetos de la págian
$alineacion-prin: center;