//Variables para definir los colores de cada objeto en tamaño small
$background-color1-xs: rgb(90, 16, 16);
$background-color2-xs: rgb(27, 92, 19);
$background-color3-xs: rgb(129, 29, 129);
$background-color4-xs: rgb(160, 124, 124);
$background-footer-xs: rgb(161, 98, 98);

//variables para definir los colores de cada objeto en tamaño small 
$background-color1-md: rgb(156, 149, 53);
$background-color2-md: rgb(106, 171, 255);
$background-color3-md: rgb(80, 74, 161);
$background-color4-md: rgb(68, 54, 54);
$background-footer-md: rgb(139, 129, 129);

$largo: 50px;